<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <form action="{% url 'aboutpage' %}">
        <center>
    <h1 style="font-size:50px;padding-bottom: 70px;text-shadow: 5px 5px #000000;color: #ffffff; width:100%;
    height:5px;background-color: rgb(11, 11, 163);">About Us</h1></center>

    <h2>ABOUT</h2>
    <span><p style="font-size:20px;color:rgb(7, 8, 11);font-family:corbel;text-shadow: 2px 2px 4px rgba(165, 160, 165, 0.669);"> 
        <b>Book Society</b> is a newly entered enterprise which is opened only for sationery products .We as a business org. started its venture 
        on Oct 24,2020 for the main purpose of selling stationery products through online platform.</p>

    <h2>OUR SHOP</h2>
    <p style="font-size:20px;color:rgb(7, 8, 11);font-family:corbel;text-shadow: 2px 2px 4px rgba(165, 160, 165, 0.669);">
        All the types of products we sell at the store is available here are manufactured by using high quality materials which are made eco-friendly.
        No Sustainable resources are destroyed during the process.<br>All wide ranges of products
        can be purchased online or can be bought from our store.<br>The idea of the was to create a simple stationary website consists of a good front page
        . The site must be in a proper manner that viewers must be interested and able to purchase the stationary 
         product they wish and intend to buy. </p></span>
        
</form>    
</body>
</html>